{% load static %}
<!DOCTYPE html>
<html lang="en" class="dark">
    <!-- BEGIN: Head -->
    <head>
        <meta charset="utf-8">
        <link href="{% static 'dashboard/images/logo.svg' %}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <title>General Website</title>
        <!-- BEGIN: CSS Assets-->
        <link rel="stylesheet" href="{% static 'dashboard/css/app.css' %}" />
        <!-- END: CSS Assets-->
    </head>
    <!-- END: Head -->
    <body class="py-5 md:py-0">
        <div class="container">
            <!-- BEGIN: Error Page -->
            <div class="error-page flex flex-col lg:flex-row items-center justify-center h-screen text-center lg:text-left">
                <div class="-intro-x lg:mr-20">
                    <img alt="Midone - HTML Admin Template" class="h-48 lg:h-auto" src="{% static 'dashboard/images/error-illustration.svg' %}">
                </div>
                <div class="text-white mt-10 lg:mt-0">
                    <div class="intro-x text-8xl font-medium">403</div>
                    <div class="intro-x text-xl lg:text-3xl font-medium mt-5">Access Denied</div>
                    <div class="intro-x text-lg mt-3">
                        Sorry, but you don't have the keys to enter here.
                        <br>
                        Our security protocols are holding strong.
                        <br>
                        If you believe this is an error, our support team is here to assist.
                    </div>
                    <a href=""><button class="intro-x btn py-3 px-4 text-white border-white dark:border-darkmode-400 dark:text-slate-200 mt-10">Back to Home</button></a>
                </div>
            </div>
            <!-- END: Error Page -->
        </div>
        
        <!-- BEGIN: JS Assets-->
        <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=["your-google-map-api"]&libraries=places"></script>
        <script src="{% static 'dashboard/js/app.js' %}"></script>
        <!-- END: JS Assets-->
    </body>
</html>