{% extends 'Dashboard/base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}

{% block path %} {% endblock path %}

{% block css %} {% endblock css %}

{% block content %}
<!-- Content wrapper -->
<div class="content-wrapper">

  <!-- Content -->
  <div class="container">
      <h1 class="my-3 text-center">Job Portal App</h1>
  </div>
  <!-- / Content -->

  <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
{% endblock content %}

{% block js %} {% endblock js %}